{% assign current = page.url | downcase | split: '/' %}

{% assign nav_items = site.data.navbar %}
{% assign nav_items = nav_items['assigned'] %}

<ul class="usa-sidenav-list usa-accordion">
{% for item in nav_items %}
  <li>


    {% if item.permalink %}
      {% assign item_link = item.permalink %}
    {% else %}
      {% assign item_link = item.text | snakecase | hash_link %}
    {% endif %}

    {% if item.children %}
      {% if include.children %}
      {% assign item_slug = item.text | slugify %}
      {% assign is_matching = page.url | matches_url: item.permalink %}

        <button class="usa-accordion-button{% if is_matching %} usa-current{% endif %}"
              aria-expanded="false"
              aria-controls="{{ item_slug }}">{{ item.text }}</button>

        <ul id="{{ item_slug }}" class="usa-accordion-content usa-sidenav-sub_list" aria-hidden="true">
        <li>
          <a href="{{ item_link }}" {% if is_matching %}class="usa-current"{% endif %}>Overview</a>
        </li>
        {% for sub_item in item.children %}
          <li>
            {% if sub_item.permalink %}
              {% assign sub_item_link = sub_item.permalink %}
            {% else %}
              {% assign sub_item_link = sub_item.text | snakecase | hash_link %}
            {% endif %}

            {% assign is_matching = page.url | matches_url: sub_item.permalink %}

            <a href="{{ sub_item_link }}" {% if is_matching %}class="usa-current"{% endif %}>{{ sub_item.text }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      {% assign is_matching = page.url | matches_url: item.permalink %}

      <a href="{{ item_link }}" {% if is_matching %}class="usa-current"{% endif %}>{{ item.text }}</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
