{% assign current = page.url | downcase | split: '/' %}

{% assign nav_items = site.data.navbar %}
{% assign nav_items = nav_items['assigned'] %}

{% if include.navbar %}
  {% include navigation/navbar.html nav_items=nav_items %}
{% endif %}

{% if include.drawer %}
  {%
    include navigation/drawer.html
    children=true
    nav_items=nav_items
  %}
{% endif %}


{% if include.subnav %}
  {% assign page_data = page.url | find_page:nav_items %}
  <!-- page_data: {{ page_data }} -->
  {% include navigation/subnav.html
     page_data=page_data
     children=true
  %}
{% endif %}
